#include <project.mfc.private.hpp>
#include <resources.hpp>

#define APSTUDIO_READONLY_SYMBOLS
#include <afxres.h>
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CONFIG DIALOG DISCARDABLE  0, 0, 284, 231
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Sampling rate ",IDC_SAMPLING_LABEL,15,22,50,9
    COMBOBOX        IDC_COMBO_SAMPLING_RATE,66,19,64,12,CBS_DROPDOWNLIST | 
                    CBS_SORT | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Directories",IDC_FRAME,13,57,208,85
    EDITTEXT        IDC_EDIT_NATIVE,20,86,171,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_NATIVE,195,86,20,14
    EDITTEXT        IDC_EDIT_VST,20,118,171,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_VST,195,118,20,14
    LTEXT           "Native Plugins",IDC_STATIC,20,73,123,8
    LTEXT           "Vst Plugins",IDC_STATIC,20,106,123,8
    LTEXT           "Warning : new sample rate will take effect **immediatly**",
                    IDC_STATIC,16,36,179,11
    LTEXT           "http://psycle.pastnotecut.org",IDC_URL,123,190,96,9
    CTEXT           "Original port of the plugin from winamp to foobar2000 by KarlKoX.\nContinued developement by Psycledelics.",
                    IDC_STATIC,18,151,201,31,SS_SUNKEN
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_CONFIG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 277
        TOPMARGIN, 7
        BOTTOMMARGIN, 224
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

IDD_CONFIG DLGINIT
BEGIN
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3131, 0x3230, 0x0035, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3231, 0x3030, 0x0030, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3232, 0x3530, 0x0030, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3432, 0x3030, 0x0030, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3434, 0x3031, 0x0030, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3834, 0x3030, 0x0030, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3838, 0x3032, 0x0030, 
    IDC_COMBO_SAMPLING_RATE, 0x403, 6, 0
0x3639, 0x3030, 0x0030, 
    0
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// French (France) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)

#ifdef _WIN32
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
#pragma code_page(1252)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resources.hpp\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#include <afxres.h>\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // French (France) resources
/////////////////////////////////////////////////////////////////////////////
