<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleIdentifier</key><string>net.sourceforge.psycle.hologram</string>
    <key>CFBundleDisplayName</key><string>Hologram</string>
    <key>CFBundleExecutable</key><string>hologram</string>
    <key>CFBundleVersion</key><string>0.1</string>
    <key>CFBundleIconFile</key><string>icon</string>
    <!--key>CFBundleIconFiles</key>
		<array>
			<string>icon.png</string>
			<string>icon@2x.png</string>
			<string>icon-72.png</string>
			<string>icon-Small.png</string>
			<string>icon-Small-50.png</string>
			<string>icon-Small@2x.png</string>
		</array-->
    <key>LSRequiresIPhoneOS</key><true/>
    <key>UIStatusBarHidden</key><true/>
    <!--key>UIRequiresPersistentWiFi</key><true/-->
    <!--key>SBUsesNetwork</key><integer>3</integer-->
</dict>
</plist>

