* { background-color: #555555; 
    color: #bbccbb; 
    font-family: "verdana"; 
    font-size: 10pt; 
}
 
QScrollBar:horizontal {
         border: 1px solid grey;
         height: 15px;
         margin: 0px 20px 0 20px;
     }
     QScrollBar::handle:horizontal {
         background: #aaaaaa;
         min-width: 20px;
         border: 1px solid #333333;
     }
     QScrollBar::add-line:horizontal {
         border: 2px solid grey;
         width: 20px;
         subcontrol-position: right;
         subcontrol-origin: margin;
     }

     QScrollBar::sub-line:horizontal {
         border: 2px solid grey;
         width: 20px;
         subcontrol-position: left;
         subcontrol-origin: margin;
     }

QScrollBar:vertical {
         border: 1px solid grey;
         width: 15px;
         margin: 20px 0 20px 0;
     }
     QScrollBar::handle:vertical {
         background: #aaaaaa;
         min-height: 20px;
         border: 1px solid #333333;
     }
     QScrollBar::add-line:vertical {
         border: 2px solid grey;
         height: 20px;
         subcontrol-position: bottom;
         subcontrol-origin: margin;
     }

     QScrollBar::sub-line:vertical {
         border: 2px solid grey;
         height: 20px;
         subcontrol-position: top;
         subcontrol-origin: margin;
     }


     QTabWidget::pane { /* The tab widget frame */
     }

     QTabWidget::tab-bar {
     }

     /* Style the tab using the tab sub-control. Note that
         it reads QTabBar _not_ QTabWidget */
     QTabBar::tab {
         border: 2px solid #444444;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
         min-width: 8ex;
         padding: 2px;
     }

     QTabBar::tab:selected, QTabBar::tab:hover {
         background: #555555;
     }

     QTabBar::tab:selected {
     			   color: #eeeeee;
         border-color: #9B9B9B;
         border-bottom-color: #555555; /* same as pane color */
     }

     QTabBar::tab:!selected {
         margin-top: 2px; /* make non-selected tabs look smaller */
	 color: #889988;
     }

     QToolButton { /* all types of tool button */
         border-radius: 6px;
     }

     QToolButton:hover {
         border: 1px solid #8f8f91;
	 background-color: #666666;
}

QToolTip {
	 background-color: black;
	 color: white;
}

QToolBar::handle {
		  background: #393939;
		  width: 2px;
}

QTreeView, QListView {
	  background-color: #333333;
}