#include <project.mfc.private.hpp>
#include "resources.hpp"

#define APSTUDIO_READONLY_SYMBOLS
#include <afxres.h>
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CAT)

#ifdef _WIN32
LANGUAGE 0x3, 0x1
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CONFIGDLG DIALOG DISCARDABLE  0, 0, 202, 121
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,145,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,145,24,50,14
    LTEXT           "Vst Plugins",IDC_STATIC,16,85,40,8
    EDITTEXT        IDC_EDIT_VST,16,95,145,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_CHANGE_VST,165,95,16,12,WS_DISABLED
    LTEXT           "Native Plugins",IDC_STATIC,16,56,50,8
    EDITTEXT        IDC_EDIT_NATIVE,16,67,145,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_CHANGE_NATIVE,164,67,16,12,WS_DISABLED
    COMBOBOX        IDC_SAMP_RATE,65,24,60,56,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Sampling Rate",IDC_STATIC,14,26,47,9
    GROUPBOX        "Directories",IDC_STATIC,7,43,188,70
END

IDD_INFODLG DIALOG DISCARDABLE  0, 0, 265, 226
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Close",IDCANCEL,213,205,45,14
    EDITTEXT        IDC_SONGFILENAME,7,7,250,14,ES_AUTOHSCROLL | ES_READONLY
    LISTBOX         IDC_MACHINELIST,7,117,163,102,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Machines ( P=Plugin, V= VST, * or ? = Not loaded)",
                    IDC_STATIC,7,106,160,8
    LTEXT           "Filesize:blah\nBpm:blah\nTpb:blah\nLength:blah\nPatterns Used:blah\nMachines:blah\n",
                    IDC_EXTINFO,175,28,82,171,SS_SUNKEN
    RTEXT           "Artist",IDC_STATIC,20,39,20,9
    EDITTEXT        IDC_SONGARTIST,45,37,119,13,ES_AUTOHSCROLL
    RTEXT           "Title",IDC_STATIC,21,54,19,8
    EDITTEXT        IDC_SONGTITLE,45,51,119,13,ES_AUTOHSCROLL
    GROUPBOX        "File Info",IDC_STATIC,7,24,164,77
    LTEXT           "Comment",IDC_STATIC,11,68,30,10
    EDITTEXT        IDC_SONGCOMMENT,45,66,119,32,ES_MULTILINE | 
                    ES_WANTRETURN | WS_VSCROLL
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_CONFIGDLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 195
        TOPMARGIN, 7
        BOTTOMMARGIN, 114
    END

    IDD_INFODLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 258
        TOPMARGIN, 7
        BOTTOMMARGIN, 219
    END
END
#endif    // APSTUDIO_INVOKED


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resources.hpp\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#include <afxres.h>\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Unknown language: 0x3, 0x1 resources
/////////////////////////////////////////////////////////////////////////////
