Source: ngrs
Section: libs
Priority: optional
Build-Depends: cdbs (>= 0.4.26), debhelper (>= 4.2.30), autotools-dev, pkg-config (>= 0.18), make (>= 3.80), doxygen (>= 1.4.1), graphviz (>= 2.2), g++ (>= 3.3.5), libfontconfig1-dev (>= 2.3.1), libxft2-dev, libxcursor-dev, libxpm4-dev, libxerces27-dev | libxerces26-dev
Maintainer: prodos <natti__@users.sourceforge.net>
Uploaders:  prodos <natti__@users.sourceforge.net>, bohan <johan-boule@users.sourceforge.net>
Standards-Version: 3.6.2

Package:  lib-ngrs-0
Provides: lib-ngrs
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: ngrs library, runtime
 _

Package:  lib-ngrs-0-dbg
Depends:  lib-ngrs-0 (= ${Source-Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: lib-ngrs-0-dev (= ${Source-Version})
Recommends: gdb
Section: libdevel
Priority: extra
Architecture: any
Description: nrgs library, debugging symbols
 _

Package:    lib-ngrs-0-dev
Provides:   lib-ngrs-dev
Recommends: lib-ngrs-0-doc
Depends:    lib-ngrs-0 (= ${Source-Version}), libfontconfig1-dev (>= 2.3.1), libxft2-dev, libxcursor-dev, libxpm4-dev, libxerces27-dev | libxerces26-dev, ${misc:Depends}, pkg-config (>= 0.18)
Section: libdevel
Architecture: any
Description: ngrs library, development files
 _

Package:  lib-ngrs-0-doc
Suggests: lib-ngrs-0-dev (= ${Source-Version})
Section: doc
Architecture: all
Description: ngrs library, documentation
 -

