Source: xpsycle
Section: sound
Priority: optional
Build-Depends: cdbs (>= 0.4.26), debhelper (>= 4.2.30), autotools-dev, pkg-config (>= 0.18), make (>= 3.80), doxygen (>= 1.4.1), graphviz (>= 2.2), g++ (>= 3.3.5), lib-ngrs-0-dev (>= 0.0.3), libasound2-dev
Maintainer: Stefan Nattkemper <natti__@users.sourceforge.net>
Uploaders:  Stefan Nattkemper <natti__@users.sourceforge.net>, Johan Boule <johan-boule@users.sourceforge.net>
Standards-Version: 3.6.2

Package:  xpsycle-0
Provides: xpsycle
Depends: ${shlibs:Depends}, libasound2, ${misc:Depends}
Recommends: lib-xpsycle.plugins
Architecture: any
Description: psycle for X window
 _

Package:  xpsycle-0-doc
Section: doc
Architecture: all
Description: documentation for xpsycle
 -

