Source: xpsycle
Section: libs
Priority: optional
Build-Depends: cdbs (>= 0.4.26), debhelper (>= 4.2.30), autotools-dev, pkg-config (>= 0.15), make (>= 3.80), doxygen (>= 1.4.1), graphviz (>= 2.2), g++ (>= 3.3.5), lib-ngrs-0-dev (>= 0.0.3)
Maintainer: prodos <natti__@users.sourceforge.net>
Standards-Version: 3.6.1

Package:  xpsycle-0
Provides: xpsycle
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: psycle for X window
 _

Package:  xpsycle-0-doc
Architecture: all
Description: documentation for xpsycle
 -

