Source: ngrs
Section: libs
Priority: optional
Build-Depends: cdbs (>= 0.4.26), debhelper (>= 4.2.30), autotools-dev, pkg-config (>= 0.15), make (>= 3.80), doxygen (>= 1.4.1), graphviz (>= 2.2), g++ (>= 3.3.5), libfontconfig1-dev (>= 2.3.1), libxft2-dev, libxcursor-dev, libxpm4-dev, libxerces27-dev | libxerces26-dev
Maintainer: prodos <natti__@users.sourceforge.net>
Standards-Version: 3.6.1

Package:  lib-ngrs-0
Provides: lib-ngrs
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: ngrs library
 _

Package:    lib-ngrs-0-dev
Provides:   lib-ngrs-dev
Recommends: lib-ngrs-0-doc
Depends:    lib-ngrs-0 (= ${Source-Version}), libfontconfig1-dev (>= 2.3.1), libxft2-dev, libxcursor-dev, libxpm4-dev, libxerces27-dev | libxerces26-dev, ${misc:Depends}, pkg-config (>= 0.15)
Architecture: any
Description: development files for the ngrs library
 _

Package:  lib-ngrs-0-doc
Suggests: lib-ngrs-0-dev (= ${Source-Version})
Architecture: all
Description: documentation for the ngrs library
 -

